# Set default username and e-mail
[user]
    name = Jasper van Nieuwenhuizen
    email = jaspervannieuwenhuizen@gmail.com
# Set default so that only current branch will be pushed ('simple')
[push]
    default = simple
[pull]
    rebase = false
# Set default so that you avoid unnecessary commits
[branch]
    autosetuprebase = always
# Set color highlighting
[color]
    status = auto
    branch = auto
    ui = auto
[checkout]
    defaultRemote = origin
# Set the default editor
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    deltaBaseCacheLimit = 1G
    autocrlf = input
# [credential]
[alias]
    co = checkout
    st = status
    b = branch
    ci = commit
    st = status
    sw = switch
    slog = log --abbrev-commit --pretty=oneline
[init]
    templatedir = ~/.git_template
    defaultBranch = main
[merge]
    tool = nvim -d
[diff]
    tool = nvim -d
[gpg]
    program = gpg2
