# .profile
# Assume bash :)
# shellcheck shell=bash

# User specific environment and startup programs

# --------------------------- environment variables --------------------------

{{ if .isDesktop -}}
# Default Terminal
export TERMINAL=kitty

{{ end -}}
# Default editor
export EDITOR=vim

# Default browser
export BROWSER=floorp

# Notmuch config file
export NOTMUCH_CONFIG=${HOME}/.config/notmuch/notmuch-config

{{ if .isDesktop -}}
export SUDO_ASKPASS=${HOME}/.local/bin/tools/askpass

export WORKON_HOME=${HOME}/.local/share/virtualenvs

export ZETTELKASTEN_HOME=/media/zettelkasten
export ZETT_TOMB_KEY={{ .zettTombKey }}
export ZETT_TOMB={{ .zettTomb }}

export GTK_THEME=Breeze-Dark
export GTK_ICON_THEME=breeze-dark
export GTK_CURSOR_THEME=breeze_cursors

export QT_QPA_PLATFORMTHEME=kde

{{ end -}}
# Textwidth for htitle
export HRULEWIDTH=80

# ---------------------------------- bashrc ----------------------------------

# shellcheck disable=1091
[[ -f ${HOME}/.bashrc ]] && source "${HOME}/.bashrc"

# ----------------------------------- path -----------------------------------

pathappend() {
    local arg
    for arg in "$@"; do
        # Only add the path if it's an existing directory
        test -d "${arg}" || continue
        # Remove the path if it's in the middle of PATH
        PATH=${PATH//:${arg}:/:}
        # Remove the path if it's at the beginning of PATH
        PATH=${PATH/#${arg}:/}
        # Remove the path if it's at the end of PATH
        PATH=${PATH/%:${arg}/}
        # Add the path to the end of PATH
        export PATH="${PATH:+"${PATH}:"}${arg}"
    done
}

pathprepend() {
    local arg
    for arg in "$@"; do
        # Only add the path if it's an existing directory
        test -d "${arg}" || continue
        # Remove the path if it's in the middle of PATH
        PATH=${PATH//:${arg}:/:}
        # Remove the path if it's at the beginning of PATH
        PATH=${PATH/#${arg}:/}
        # Remove the path if it's at the end of PATH
        PATH=${PATH/%:${arg}/}
        # Add the path to the beginning of PATH
        export PATH="${arg}${PATH:+":${PATH}"}"
    done
}

# Default directory for custom scripts
export SCRIPTS=~/.local/bin/tools

# Remember last arg will be first in path
pathprepend \
    "${HOME}/.local/pyenv/bin" \
    "${HOME}/.local/share/asdf/shims" \
    "${HOME}/.local/share/cargo/bin" \
    "${HOME}/.local/bin/cargo/bin" \
    "${HOME}/.local/bin/go" \
    "${HOME}/.local/bin" \
    "${HOME}/.local/bin/distrobox" \
    "${HOME}/.local/bin/flatpak" \
    "${HOME}/.local/bin/jobs" \
    "${HOME}/.local/bin/launchers" \
    "${HOME}/.local/bin/statusbar" \
    "${HOME}/.local/bin/wm" \
    "${SCRIPTS}"

pathappend \
    /opt/go/go/bin \
    "${HOME}/.config/yarn/global/node_modules/.bin" \
    "${HOME}/.yarn/bin" \
    "${HOME}/.local/distrobox/bin" \
    "${HOME}/.ghcup/bin" \
    "${HOME}/.cabal/bin"

# Pyenv
export PYENV_ROOT="${HOME}/.local/pyenv"
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
if command -v pyenv &> /dev/null; then
    eval "$(pyenv init -)"
    eval "$(pyenv virtualenv-init -)"
fi

# asdf
export ASDF_DATA_DIR="${HOME}/.local/share/asdf"

# Paths for Go
export GOPATH=${HOME}/.local/share/go
# At least for now put binaries in a separate bin/go directory
export GOBIN=${HOME}/.local/bin/go

# Paths for Rust
export CARGO_HOME=${HOME}/.local/share/cargo
# This means the binaries will end up in $HOME/.local/bin/cargo/bin
export CARGO_INSTALL_ROOT=${HOME}/.local/bin/cargo
export RUSTUP_HOME=${HOME}/.local/share/rustup

# Set up environment for opam
test -r "${HOME}/.opam/opam-init/init.sh" \
    && source "${HOME}/.opam/opam-init/init.sh" &> /dev/null

# Connect to tmux when logging in via ssh
if [[ -z ${TMUX} ]] && [[ -n ${SSH_TTY} ]]; then
    exec tmux new-session -A -s "${USER}"
fi
