# .bashrc
# shellcheck shell=bash
# shellcheck disable=1091,1094

# If not running interactively, don't do anything
case $- in
    *i*) ;;
    *) return ;;
esac

# Source global definitions
[[ -f /etc/bashrc ]] && source /etc/bashrc
[[ -f /etc/bash.bashrc ]] && source /etc/bash.bashrc
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
# TODO: have to figure out how completion is now configured exactly. If it
# exsits the file /usr/share/bash-completion will be sourced (this does exist),
# if not /etc/bash_completionis sourced. As far as I can see the files in
# /etc/bash_completion.d should be sourced in both cases, but it seems they're
# not. Manually sourcing /etc/bash_completion here to have all desired
# completions.
[[ -f /etc/bash_completion ]] && source /etc/bash_completion
{{ end }}
[[ -f $HOME/.config/user-dirs.dirs ]] && source "${HOME}/.config/user-dirs.dirs"

# Use beam shape cursor on startup.
[[ $- == *i* ]] && echo -ne '\e[5 q'

{{ if .isDesktop -}}
# ble.sh
[[ $- == *i* ]] && source "${HOME}"/.local/share/blesh/ble.sh --attach=none

{{ end -}}
export XDG_CONFIG_HOME="${HOME}"/.config

# Uncomment the following line if you don't like systemctl's auto-paging feature:
export SYSTEMD_PAGER=

# GPG
GPG_TTY=$(tty)
export GPG_TTY

# Load aliases and shortcuts if existent.
[[ -f $HOME/.aliasrc ]] && source "$HOME/.aliasrc"
# Load functions if existent.
[[ -f $HOME/.functionrc ]] && source "$HOME/.functionrc"

# enable globstar
shopt -s globstar

# use a vi-style line editing interface
set -o vi

# alacritty
[[ -f ${HOME}/src/github.com/alacritty/alacritty/extra/completions/alacritty.bash ]] \
    && source "${HOME}/src/github.com/alacritty/alacritty/extra/completions/alacritty.bash"

# fuzzy finder
[[ -f $HOME/.fzf.bash ]] && source "$HOME/.fzf.bash"

# pyenv
if command -v pyenv &> /dev/null; then
    eval "$(pyenv init -)"
    eval "$(pyenv virtualenv-init -)"
fi

# asdf
[[ -f ${HOME}/.asdf/asdf.sh ]] && source "${HOME}/.asdf/asdf.sh"
[[ -f ${HOME}/.asdf/completions/asdf.bash ]] && source "${HOME}/.asdf/completions/asdf.bash"

# aws
command -v /usr/local/bin/aws_completer &> /dev/null && complete -C "/usr/local/bin/aws_completer" aws

# dir colors
[[ -f $HOME/.dircolors ]] && eval "$(dircolors "$HOME/.dircolors")"

# zsh like tab completion
# bind 'set show-all-if-ambiguous on'
# bind '"\C-i": menu-complete'

# colors for less
export LESS_TERMCAP_mb=$(printf "\e[1;31m")
export LESS_TERMCAP_md=$(printf "\e[1;31m")
export LESS_TERMCAP_me=$(printf "\e[0m")
export LESS_TERMCAP_se=$(printf "\e[0m")
export LESS_TERMCAP_so=$(printf "\e[0;37;102m")
export LESS_TERMCAP_ue=$(printf "\e[0m")
export LESS_TERMCAP_us=$(printf "\e[4;32m")
export GROFF_NO_SGR=1 # For Konsole and Gnome-terminal
{{ if .isDesktop }}
[[ -n $DISPLAY ]] && xrdb -merge "${HOME}/.Xresources"
{{ end }}
[[ -z $REZ_SHELL_INTERACTIVE ]] && [[ -x $(command -v starship) ]] && eval "$(starship init bash)"

# zoxide
[[ -x $(command -v zoxide) ]] && eval "$(zoxide init bash)"

{{ if .isDesktop -}}
{{if eq .chezmoi.osRelease.id "ubuntu" -}}
if [[ ${TILIX_ID} ]] || [[ ${VTE_VERSION} ]]; then source /etc/profile.d/vte.sh; fi # Ubuntu Budgie END
{{ end -}}

# Attach ble.sh
[[ ${BLE_VERSION-} ]] && ble-attach
{{- end }}
