# .bashrc
# shellcheck shell=bash
# shellcheck disable=1091,1094

# If not running interactively, don't do anything
case $- in
    *i*) ;;
    *) return ;;
esac

# Source global definitions
[[ -f /etc/bashrc ]] && source /etc/bashrc
[[ -f /etc/bash.bashrc ]] && source /etc/bash.bashrc

[[ -f $HOME/.config/user-dirs.dirs ]] && source "${HOME}/.config/user-dirs.dirs"

# Use beam shape cursor on startup.
[[ $- == *i* ]] && echo -ne '\e[5 q'

{{ if .isDesktop -}}
# ble.sh
[[ $- == *i* ]] && source "${HOME}"/.local/share/blesh/ble.sh --attach=none

{{ end -}}
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_BIN_HOME="${HOME}/.local/bin"

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# GPG
GPG_TTY=$(tty)
export GPG_TTY

# Load aliases and shortcuts if existent.
[[ -f $HOME/.aliasrc ]] && source "$HOME/.aliasrc"
# Load functions if existent.
[[ -f $HOME/.functionrc ]] && source "$HOME/.functionrc"

# enable globstar
shopt -s globstar

# use a vi-style line editing interface
set -o vi

# fuzzy finder
[[ -f ${HOME}/.fzf.bash ]] && source "${HOME}/.fzf.bash"

# nix
# [[ -f ${HOME}/.nix-profile/etc/profile.d/nix.sh ]] && source "${HOME}/.nix-profile/etc/profile.d/nix.sh"

# aws
command -v /usr/local/bin/aws_completer &> /dev/null && complete -C "/usr/local/bin/aws_completer" aws

# dir colors
[[ -f $HOME/.dircolors ]] && eval "$(dircolors "$HOME/.dircolors")"

# colors for less
export LESS_TERMCAP_mb=$(printf "\e[1;31m")
export LESS_TERMCAP_md=$(printf "\e[1;31m")
export LESS_TERMCAP_me=$(printf "\e[0m")
export LESS_TERMCAP_se=$(printf "\e[0m")
export LESS_TERMCAP_so=$(printf "\e[0;37;102m")
export LESS_TERMCAP_ue=$(printf "\e[0m")
export LESS_TERMCAP_us=$(printf "\e[4;32m")
export GROFF_NO_SGR=1 # For Konsole and Gnome-terminal
{{ if .isDesktop }}
[[ -n $DISPLAY ]] && command -v xrdb &> /dev/null && xrdb -merge "${HOME}/.Xresources"
{{ end }}
[[ -z $REZ_SHELL_INTERACTIVE ]] && [[ -x $(command -v starship) ]] && eval "$(starship init bash)"

# zoxide
[[ -x $(command -v zoxide) ]] && eval "$(zoxide init bash)"

{{ if .isDesktop -}}
# Attach ble.sh
[[ ${BLE_VERSION-} ]] && ble-attach
{{- end }}
