setlocal expandtab
setlocal shiftwidth=4
setlocal tabstop=4
setlocal softtabstop=4
{{- if eq .chezmoi.hostname "weerjappie" }}
setlocal textwidth=100
{{ else }}
setlocal textwidth=88
{{ end -}}
{{- if eq .chezmoi.hostname "weerjappie" }}
setlocal colorcolumn=100
{{ else -}}
" Set column to 88 to follow Black formatter
setlocal colorcolumn=88
{{- end }}
" Format file with isort and black on save
let g:neoformat_enabled_python = ['black', 'isort']

" Group autocmd's so they can be removed first. If we don't do this, the same
" autocmd is added every time we open or save a Python file.
augroup filetype_python
    autocmd!
    " Organize imports with CoC on save
    autocmd BufWritePre * call CocAction('runCommand', 'editor.action.organizeImport')
    autocmd BufWritePre * call CocAction('format')
augroup END

" Execute the python file with the default Python interpreter
nnoremap <silent> <leader>pp :!python %:p<CR>

" Ruff fix the current file
nnoremap <silent> <leader>rf :!ruff --fix %:p<CR>
