# Set default username and e-mail
[user]
    name = Jasper van Nieuwenhuizen
    email = {{ .email }}
    signingkey = {{ .signingkey }}
# Set default so that only current branch will be pushed ('simple')
[push]
    default = simple
[pull]
    rebase = true
# Set default so that you avoid unnecessary commits
[branch]
    autosetuprebase = always
# Set color highlighting
[color]
    status = auto
    branch = auto
    ui = auto
[checkout]
    defaultRemote = origin
# Set the default editor
[core]
    editor = vim
    excludesfile = ~/.config/git/gitignore
    deltaBaseCacheLimit = 1G
    autocrlf = input
# [credential]
[alias]
    b = branch
    ci = commit
    co = checkout
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
    f = fetch
    fa = fetch --all
    l = log --oneline --graph --decorate
    slog = log --abbrev-commit --pretty=oneline
    pt = push --tags
    pft = push --follow-tags
    st = status
    st = status
    sw = switch
[init]
    templatedir = ~/.config/git/templates
    defaultBranch = main
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[gpg]
    program = gpg
[commit]
	gpgsign = true
    template = ~/.config/git/commit-template
[fetch]
	prune = true
