# Set default username and e-mail
[user]
    name = Jasper van Nieuwenhuizen
    email = {{ .email }}
    signingkey = {{ .signingkey }}
[push]
    # Set default so that only current branch will be pushed ('simple')
    default = simple
    autoSetupRemote = true
[pull]
    rebase = true
# Set default so that you avoid unnecessary commits
[branch]
    autosetuprebase = always
# Set color highlighting
[color]
    status = auto
    branch = auto
    ui = auto
[checkout]
    defaultRemote = origin
[core]
    # Set the default editor
    editor = vim
    excludesfile = ~/.config/git/gitignore
    deltaBaseCacheLimit = 1G
    autocrlf = input
[alias]
    b = branch
    ci = commit
    co = checkout
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
    f = fetch
    fa = fetch --all
    l = log --oneline --graph --decorate
    slog = log --abbrev-commit --pretty=oneline
    pt = push --tags
    pft = push --follow-tags
    st = status
    st = status
    sw = switch
    drop = reset --hard
    t = tag --sort=version:refname
    taglog = !sh -c 'git-tag-log $1'
[init]
    templatedir = ~/.config/git/templates
    defaultBranch = main
[merge]
    tool = nvimdiff
[diff]
    tool = nvimdiff
[gpg]
    program = gpg
[commit]
    gpgsign = true
    template = ~/.config/git/commit-template
[fetch]
    prune = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" \"$BASE\"
    trustExitCode = false
