# See https://wiki.hyprland.org/Configuring/Monitors/
{{- if eq .chezmoi.hostname "weerjappie" }}
monitor=eDP-1,1920x1200@60,auto,1
{{ else }}
monitor=eDP-2,2560x1600@165,auto,1.25
{{ end }}
# See https://wiki.hyprland.org/Configuring/Keywords/ for more

# Some default env vars.
env = XCURSOR_SIZE,24
env = XDG_SESSION_DESKTOP,Hyprland

exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once = systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP

exec = pkill kanshi; kanshi
exec-once = hyprpanel & hyprpaper & hypridle & gammastep
exec-once = /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=pomodorolm org.jousse.vincent.Pomodorolm
exec-once = /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=protonvpn-app --file-forwarding com.protonvpn.www
exec-once = /usr/bin/nextcloud
exec-once = systemctl --user start plasma-polkit-agent.service
exec-once = wl-paste --type text --watch cliphist store # Stores only text data
exec-once = wl-paste --type image --watch cliphist store # Stores only image data

# Programs
$terminal = kitty
$fileManager = dolphin
$browser = floorp
$menu = rofi -show combi -modes combi -combi-modes drun,run

# For all categories, see https://wiki.hyprland.org/Configuring/Variables/
input {
    kb_layout = us
    kb_variant = mac
    kb_model =
    kb_options = caps:escape_shifted_capslock
    kb_rules =

    follow_mouse = 1
    natural_scroll = true

    numlock_by_default = true

    touchpad {
        disable_while_typing = true
        natural_scroll = true
        clickfinger_behavior = true
        tap-to-click = true
        drag_lock = true
        tap-and-drag = true
    }

    tablet {
      output = current
  }

    sensitivity = 0 # -1.0 - 1.0, 0 means no modification.
}

general {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more

    gaps_in = 5
    gaps_out = 10
    border_size = 2
    col.active_border = rgba(33ccffee) rgba(00ff99ee) 45deg
    col.inactive_border = rgba(595959aa)
    resize_on_border = true

    layout = master

    # Please see https://wiki.hyprland.org/Configuring/Tearing/ before you turn this on
    allow_tearing = false

    snap {
        enabled = true
      }
}

cursor {
    no_hardware_cursors = true
}

decoration {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more

    rounding = 5

    blur {
        enabled = true
        size = 20
        passes = 1
    }

    shadow {
        enabled = true
        range = 4
        render_power = 3
        color = rgba(1a1a1aee)
    }

    dim_inactive = true
    dim_strength = 0.1
}

animations {
    enabled = true

    # Some default animations, see https://wiki.hyprland.org/Configuring/Animations/ for more

    bezier = myBezier, 0.05, 0.9, 0.1, 1.05

    animation = windows, 1, 7, myBezier
    animation = windowsOut, 1, 7, default, popin 80%
    animation = border, 1, 10, default
    animation = borderangle, 1, 8, default
    animation = fade, 1, 7, default
    animation = workspaces, 1, 3, default
    animation = specialWorkspace, 1, 6, default, slidevert
}

dwindle {
    # See https://wiki.hyprland.org/Configuring/Dwindle-Layout/ for more
    pseudotile = true # master switch for pseudotiling. Enabling is bound to mainMod + P in the keybinds section below
    preserve_split = true # you probably want this
}

master {
    # See https://wiki.hyprland.org/Configuring/Master-Layout/ for more
    orientation = left
    new_status = slave
    mfact = 0.55
}

gestures {
    gesture = 4, horizontal, workspace
}

misc {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more
    force_default_wallpaper = 0 # Set to 0 to disable the anime mascot wallpapers
    anr_missed_pings = 5  # number of missed pings before showing the ANR (Application Not Responding) dialog
}
# Example per-device config
# See https://wiki.hyprland.org/Configuring/Keywords/#per-device-input-configs for more
# device:epic-mouse-v1 {
#     sensitivity = -0.5
# }

# Example windowrule v1
# windowrule = float, ^(kitty)$
# Example windowrule v2
# windowrulev2 = float,class:^(kitty)$,title:^(kitty)$
# See https://wiki.hyprland.org/Configuring/Window-Rules/ for more

workspace = special:scratchpad, gapsin:5, gapsout:50
workspace = special:scratchpad, on-created-empty:$terminal
workspace = special:documentation, gapsin:5, gapsout:50
workspace = special:documentation, on-created-empty:$terminal zett

# See https://wiki.hyprland.org/Configuring/Keywords/ for more
$mainMod = SUPER

# Example binds, see https://wiki.hyprland.org/Configuring/Binds/ for more
bind = $mainMod, Return, exec, $terminal
bind = $mainMod SHIFT, C, killactive,
bind = $mainMod, M, exit,
bind = $mainMod, E, exec, $fileManager
bind = $mainMod, F, fullscreen,
bind = $mainMod SHIFT, Space, togglefloating,
bind = $mainMod, Space, exec, $menu
# bind = $mainMod, P, pseudo, # dwindle
bind = $mainMod, U, togglesplit, # dwindle

# Move focus with mainMod + vim keys
bind = $mainMod, H, movefocus, l
bind = $mainMod, L, movefocus, r
bind = $mainMod, K, movefocus, u
bind = $mainMod, J, movefocus, d

# Switch workspaces with mainMod + [0-9]
bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7
bind = $mainMod, 8, workspace, 8
bind = $mainMod, 9, workspace, 9
bind = $mainMod, 0, workspace, 10

# Move active window to a workspace with mainMod + SHIFT + [0-9]
bind = $mainMod SHIFT, 1, movetoworkspace, 1
bind = $mainMod SHIFT, 2, movetoworkspace, 2
bind = $mainMod SHIFT, 3, movetoworkspace, 3
bind = $mainMod SHIFT, 4, movetoworkspace, 4
bind = $mainMod SHIFT, 5, movetoworkspace, 5
bind = $mainMod SHIFT, 6, movetoworkspace, 6
bind = $mainMod SHIFT, 7, movetoworkspace, 7
bind = $mainMod SHIFT, 8, movetoworkspace, 8
bind = $mainMod SHIFT, 9, movetoworkspace, 9
bind = $mainMod SHIFT, 0, movetoworkspace, 10

# Open *s*pecial workspaces
bind = $mainMod, S, submap, open
submap = open
# Special workspace: *s*cratchpad
bind = , S, togglespecialworkspace, scratchpad
bind = , S, submap, reset
# Special workspace: *d*ocumentation
bind = , D, togglespecialworkspace, documentation
bind = , D, submap, reset
# reset submap
bind = , escape, submap, reset
submap = reset

# Get from clipboard history
bind = $mainMod, V, exec, cliphist list | rofi -dmenu | cliphist decode | wl-copy

# The '*o*pen' mode for opening different applications
bind = $mainMod, O, submap, open
submap = open
bind = , B, exec, toggle-btop
bind = , B, submap, reset
bind = , C, exec, launch-chat-apps
bind = , C, submap, reset
bind = , F, exec, toggle-weather
bind = , F, submap, reset
bind = , N, exec, toggle-nethogs
bind = , N, submap, reset
bind = , O, exec, ncmpcpp_local
bind = , O, submap, reset
bind = , P, exec, ncmpcpp_guybrush
bind = , P, submap, reset
bind = , S, exec, work-setup
bind = , S, submap, reset
bind = , W, exec, $browser
bind = , W, submap, reset
bind = , escape, submap, reset
submap = reset

# The '*d*o' mode for executing different commands
bind = $mainMod, D, submap, do
submap = do
bind = , C, exec, rofi_calc
bind = , C, submap, reset
bind = , E, exec, dmenu-unicode
bind = , E, submap, reset
bind = , D, exec, bookmarks-documents
bind = , D, submap, reset
bind = , M, exec, wayland-monitor-switch
bind = , M, submap, reset
bind = , P, exec, choose-tuned-profile
bind = , P, submap, reset
bind = , W, exec, workspaces-to-monitors
bind = , W, submap, reset
bind = , escape, submap, reset
submap = reset

# The '*t*ime tracking' mode for time tracking
bind = $mainMod SHIFT, T, submap, tt
submap = tt
bind = , R, exec, tt-control start recent
bind = , R, submap, reset
bind = , S, exec, tt-control stop
bind = , S, submap, reset
bind = , T, exec, tt-control
bind = , T, submap, reset
bind = , escape, submap, reset
submap = reset

# Scroll through existing workspaces with mainMod + scroll
bind = $mainMod, mouse_down, workspace, e+1
bind = $mainMod, mouse_up, workspace, e-1

# Move/resize windows with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

bind = $mainMod SHIFT, Return, layoutmsg, swapwithmaster

bind = $mainMod, TAB, workspace, previous

# Create screenshots
bind = $mainMod SHIFT, D, exec, take-screenshot

# Volume down/up/mute
bindel = ,XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+
bindel = ,XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-
bindel = ,XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindel = ,XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle

# Media keys
bindel = ,XF86AudioPlay, exec, playerctl -a play-pause
bindel = ,XF86AudioNext, exec, playerctl -a next
bindel = ,XF86AudioPrev, exec, playerctl -a previous

# Brightness down/up
bindel = ,XF86MonBrightnessDown, exec, brightnessctl set 5%-
bindel = ,XF86MonBrightnessUp, exec, brightnessctl set +5%

# network
bind = $mainMod, N, submap, network
submap = network
bind = , B, exec, dmenu-bluetooth
bind = , B, submap, reset
bind = , M, exec, managevpn
bind = , M, submap, reset
submap = reset

# pass store
bind = $mainMod, P, submap, pass
submap = pass
bind = , P, exec, rofi-pass
bind = , P, submap, reset
bind = , T, exec, rofi-pass --type
bind = , T, submap, reset
bind = , escape, submap, reset
submap = reset

# lock screen
bind = $mainMod CTRL, L, exec, hyprlock --immediate

# system actions
bind = $mainMod CTRL, backspace, exec, sysact

# ------------------------------- window rules -------------------------------

windowrulev2 = opacity 0.95, class:(alacritty|kitty)
windowrulev2 = float, class:thunar
windowrulev2 = size 75% 70%, class:thunar
windowrulev2 = float, class:org\.kde\.dolphin
windowrulev2 = size 75% 70%, class:org\.kde\.dolphin
windowrulev2 = float, class:blueman-manager
windowrulev2 = size 34% 25%, class:blueman-manager
windowrulev2 = workspace 2, class:Claude
windowrulev2 = workspace 3, class:org\.freecad\.FreeCAD
windowrulev2 = workspace 4, class:blender
windowrulev2 = workspace 5, class:UltiMaker-Cura
windowrulev2 = workspace 6, class:Wfica
windowrulev2 = workspace 7, class:[Ss]potify
windowrulev2 = workspace 8, class:org\.telegram\.desktop
windowrulev2 = workspace 8, class:[Ff]erdium
windowrulev2 = workspace 8, class:(com\.slack\.)?Slack
windowrulev2 = workspace 8, class:(org\.signal\.)?Signal
windowrulev2 = workspace 9, class:(org\.mozilla\.firefox|Google-chrome), title:(.*Microsoft Teams.*)
windowrulev2 = workspace 9, class:teams-for-linux
windowrulev2 = workspace 10, class:(org\.mozilla\.firefox|LibreWolf|\"?floorp.*\"?)
windowrulev2 = idleinhibit fullscreen, class:(org\.mozilla\.firefox|LibreWolf|\"?floorp.*\"?)
windowrulev2 = float, class:openlp, title:Display Window
windowrulev2 = idleinhibit fullscreen, class:openlp, title:Display Window
windowrulev2 = float, class:(alacritty|kitty), title:.*-centered
windowrulev2 = size 80% 80%, class:(alacritty|kitty), title:.*-centered
windowrulev2 = animation slide, class:(alacritty|kitty), title:.*-centered
windowrulev2 = stayfocused, class:pinentry-.*
windowrulev2 = tile, class:Google-chrome, title:Microsoft Teams
windowrulev2 = float, class:(org\.mozilla\.firefox|LibreWolf|\"?floorp.*\"?), title:PassFF
windowrulev2 = float, class:xdg-desktop-portal-gtk, title:Open Files
windowrulev2 = float, class:nm-openconnect-auth-dialog
windowrulev2 = float, class:org\.gnome\.Calculator
windowrulev2 = float, class:org\.kde\.kcalc
windowrulev2 = float, title:Login Dialog
windowrulev2 = float, class:mpv
windowrulev2 = size 90% 90%, class:mpv
windowrulev2 = float, class:file-.*, title:Export Image as .*
windowrulev2 = float, class:pomodorolm
windowrulev2 = move 100%-w-12 52, class:pomodorolm
windowrulev2 = pin, class:pomodorolm
windowrulev2 = idleinhibit always, class:org\.kde\.kdenlive, title:Rendering — Kdenlive
