snippet sig "Lines of Jasper mail signature"
$0

--

Jasper van Nieuwenhuizen
Pipeline & Technical Artist
linesofjasper.com
+31 6 55 785 022

endsnippet

snippet sigper "Personal mail signature"
$0

Groet, jasper

endsnippet
