#! header
snippet #japsrun "Shebang header for python scripts with vim line"
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# vim: autoindent shiftwidth=4 expandtab textwidth=120 tabstop=4 softtabstop=4

$0
endsnippet

snippet #japs "Coding (utf-8) and vim line for python scripts"
# -*- coding: utf-8 -*-
# vim: autoindent shiftwidth=4 expandtab textwidth=120 tabstop=4 softtabstop=4

$0
endsnippet

snippet #utf8 "Add utf-8 encoding line"
# vim: fileencoding=utf-8

$0
endsnippet
